@using LabTestAppointments.Data.Entities;
@model IEnumerable<LabTestAppointments.Data.Entities.LabTest>

@{
    ViewData["Title"] = "Pruebas de laboratorio";
}

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-9">
                <h1 class="display-4">Pruebas de Laboratorio</h1>
            </div>
            <div class="col-3">
                <p><a asp-controller="LabTest" asp-action="Create">Agregar</a></p>
            </div>
        </div>
        <div class="col-12 mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                    }
                    @foreach (LabTestAppointments.Data.Entities.LabTest labTest in Model)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@labTest.Name</td>
                            <td>@labTest.Description</td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = labTest.Id }) 
                                @Html.ActionLink("Detalles", "Details", new { id = labTest.Id }) 
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>